<?xml version="1.0"?>
<robot name="robot_system"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robot_system_gazebo" params="robot_prefix vacuum_gripper_prefix gripper_plugin_name">
    <!-- Vacuum Gripper -->
    <xacro:if value="${robot_prefix == 'robot1_'}">
      <xacro:include filename="$(find hrwros_support)/urdf/vacuum_gripper/vacuum_gripper.gazebo.xacro"/>
      <xacro:vacuum_gripper_gazebo prefix="${vacuum_gripper_prefix}" gripper_link="robot1::${robot_prefix}wrist_3_link" plugin_name = "${gripper_plugin_name}">
        <drops_info/>
      </xacro:vacuum_gripper_gazebo>
    </xacro:if>

    <xacro:if value="${robot_prefix == 'robot2_'}">
      <xacro:include filename="$(find hrwros_support)/urdf/vacuum_gripper/vacuum_gripper.gazebo.xacro"/>
      <xacro:vacuum_gripper_gazebo prefix="${vacuum_gripper_prefix}" gripper_link="robot2::${robot_prefix}wrist_3_link" plugin_name = "${gripper_plugin_name}">
        <drops_info/>
      </xacro:vacuum_gripper_gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
